export(apa_table, apa_bundle, save_editable,
       apa_eigenvalues, apa_dimension_poles, apa_cluster_profiles, apa_cluster_by_period, apa_contributions, apa_cos2, apa_coordinates,
       mca_appendix, mca_figures, plot_map_3d, export_all)
export(methods_brief, methods_citations, methods_glossary, methods_code, methods_tables, methods_handbook, methods_bibliography, methods_equations, write_bibliography, methods_document)
export(apa_typicality, apa_eta, apa_ellipse_overlap, apa_ari_matrix, methods_overview)
export(apa_settings, apa_category_typicality)
